[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django = "*"
ipython = "*"
pytest-django = "*"
flake8 = "*"
pytest-pythonpath = "*"

[packages]
factory-boy = "*"
